.pagination {
  width: fit-content;
  display: flex;
  list-style: none;
  height: 40px;
  border-radius: 5px;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;

  li {
    border: 1px solid $accent-2;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    &:last-child {
      margin-right: 0;
    }
    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        background-color: rgba($color-success, .6);  
        color: $accent-1;
      }
    }

    &.active {
      background-color: rgba($color-success, .6);
      a {
        color: $accent-1;
        font-weight: bold;
        text-decoration: none;
        pointer-events: none;
      }
    }

    &.break {
      border: 0;
    }
  }
}
